/Assignment-2/Library_Management_System/Library_Management_System/bin/Debug/Library_Management_System.exe
/Assignment-2/Library_Management_System/Library_Management_System/bin/Debug/Library_Management_System.pdb
/Assignment-2/Library_Management_System/Library_Management_System/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Assignment-2/Library_Management_System/Library_Management_System/obj/x86/Debug/Library_Management_System.exe
/Assignment-2/Library_Management_System/Library_Management_System/obj/x86/Debug/Library_Management_System.pdb
/Assignment-2/Library_Management_System/Library_Management_System/obj/x86/Debug/Library_Management_System.vbproj.GenerateResource.Cache